


<div class="container" style="max-width: 700px">
	<div class="p-3" style="background-color: #303030 ;border-radius: 30px 30px 0 0;">
		<div class="col-6 d-flex justify-content-center align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
				<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
			</svg>
			<h5 class="ms-2 mb-0">Nazwa trenera</h5>
		</div>
	</div>
	<div class="p-3 container-fluid h-100 d-flex flex-column" style="min-height: 500px; background-color: #202020; border-radius: 0 0 30px 30px">
		<div id="contentMessages" class="half-height bg-primary text-white d-flex justify-content-center align-items-center">
			test góra
		</div>

		<div id="textSendingSection" class="half-height bg-success text-white d-flex justify-content-center align-items-end">
			test dół
		</div>
	</div>
</div>