html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.week:checked + .weekL {
    color: greenyellow;
    box-shadow: 0 0 2px 1px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.button-blank-green {
    border: 1px solid #37D477;
    background-color: inherit
}

    .button-blank-green:hover {
        background-color: #37D477;
        color: #303030;
        border: 1px solid #303030;
    }

.a-green {
    text-decoration: none;
    color: #37D477;
}

.button-green {
    /*padding: 3px;*/
    background-color: #37D477;
    color: #303030;
}

.button-red {
    background-color: #E62143;
}

.row .t-plan-size {
    max-width: 400px;
    min-width: 300px;
}

ul.no-dots {
    list-style-type: none;
}

.days-checkbox {
    /*color: red;*/
}

.check:checked + .days-checkbox {
    color: #22CE00;
    border: 1px solid #22CE00;
}