

<div>
	<div class="card border-light m-3">
		<div class="card-header" style="text-align: center">
			<h2>Nazwa planu</h2>
		</div>
		<div class="card-body"
			<div class="card-title">
				<span class="d-flex justify-content-md-center ">
					<button class="btn btn-secondary m-1">Poniedziałek</button>
					<button class="btn btn-secondary m-1">Wtorek</button>
					<button class="btn btn-secondary m-1">Środa</button>
					<button class="btn btn-secondary m-1">Czwartek</button>
					<button class="btn btn-secondary m-1">Piątek</button>
					<button class="btn btn-secondary m-1">Sobota</button>
					<button class="btn btn-secondary m-1">Niedziela</button>
				 </span>
			</div>
			<div class="m-2">
				<div>
					<div class="card border-success m-2">
						<div class="row">
							<div class="card-header col-3 p-3">Zdjęcie</div>
							<div class="card-body col-9">
								<div class="card-title">Ćwiczenie 1</div>
								<div class="card-text">Opis ćwiczenia 1</div>
							</div>
						</div>
						
					</div>
					<div class="card border-success m-2">
						<div class="card-header">Ćwiczenie 2</div>
						<div class="card-body">
							@* <div class="card-title">zdjęcie chyba</div> *@
							<div class="card-text">Opis ćwiczenia 2</div>
						</div>
					</div>
					<div class="card border-success m-2">
						<div class="card-header">Ćwiczenie 3</div>
						<div class="card-body">
							@* <div class="card-title">zdjęcie chyba</div> *@
							<div class="card-text">Opis ćwiczenia 3</div>
						</div>
					</div>
					<div class="card border-success m-2">
						<div class="card-header">Ćwiczenie 4</div>
						<div class="card-body">
							@* <div class="card-title">zdjęcie chyba</div> *@
							<div class="card-text">Opis ćwiczenia 4</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>