@model Exercise


@* TODO: poprawić szerokość wyświetlania zawartości *@

@* TODO: poprawić wygląd kart *@



<div class="container row">
    <div class="col-2">
        <nav class="navbar-expand-lg">
            <div class="container p-2">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-column me-auto">
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('chest')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Klatka piersiowa</a>
                        </li>

                        <li class="nav-item dropdown cat_choice" onclick="loadContent('back')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Plecy</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('shoulders')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Barki</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('triceps')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Triceps</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('biceps')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Biceps</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('forearms')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Przedramiona</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('legs')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Nogi</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('abdominals')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Brzuch</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice" onclick="loadContent('calves')">
                            <a class="nav-link dropdown-item" style="color: white" href="#">Łydki</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="col-10" id="displayContent" style="text-align: center; display: flex;">
        <div id="loader" style="display: none;">
            <iframe src="https://gifer.com/embed/ZKZx" width=180 height=180.000 frameBorder="0" allowFullScreen></iframe><p></p>
        </div>
    </div>
    @* <div class="container">
        <div class="card my-2" style="width: fit-content;">
            <div class="card-header p-0">
                <img src="\exercises_img\\Alternating_Floor_Press\\0.jpg" alt="Zdjęcie ćwiczenia" style="max-width: 300px;">
            </div>
            <div class="card-body" style="height: 95%;">
                <h5 class="card-title text-center">
                    <a href="../Visitor/ExercisesSet/Exercise/16" style="text-decoration: none; color: #33C26F">Alternating Floor Press</a>
                </h5>
            </div>
        </div>
    </div> *@
</div>

@section Scripts {
    <script src="~/js/loadContent.js"></script>

    <script> // content changes
        var elements = document.querySelectorAll('ul.navbar-nav li.cat_choice');
        // var contents = document.querySelectorAll('.dis');

        elements.forEach(function (element, id) {
            element.addEventListener('click', function () {
                // contents.forEach(function (content) {
                //     content.style.display = 'none';
                // });
                elements.forEach(function (el) {
                    el.style.borderBottom = 'none';
                    el.style.color = 'white'
                })
                elements[id].style.borderBottom = '2px solid #33C26F';
                elements[id].style.color = 'green';
                

            });
        });
    </script>

    <script>
        var images = ["..\\exercises_img\\Ab_Crunch_Machine\\0.jpg", "..\\exercises_img\\Ab_Crunch_Machine\\1.jpg"];
        var currentIndex = 0;

        function changeImage() {
            var img = document.getElementById("imgExer");
            currentIndex = (currentIndex + 1) % images.length;
            // currentIndex = 1;
            img.src = images[currentIndex];
        }

        setInterval(changeImage, 2500);
    </script>

}