@using Newtonsoft.Json
@inject IHttpContextAccessor httpAcc

@* @model TrainingPlan *@

@{
	TrainingPlan Model = JsonConvert.DeserializeObject<TrainingPlan>(httpAcc.HttpContext.Session.GetString("TrainingPlanData"));
	string[] ModelsExercisesId = httpAcc.HttpContext.Session.GetString("ExercisesId").Split(';');
}
	


<div class="container m-2 d-flex justify-content-center">
	
	<form method="post">
		<div class="text-center">
			<h2>Dodaj nowy plan</h2>
		</div>
		<div>
			<label for="Title" class="form-label mt-4">Nazwa planu</label>
			<input name="Title" id="Title" type="text" class="form-control" asp-for="@Model.Title"/>
		</div>
		<br>
		<div class="btn-group-toggle my-4 d-flex justify-content-center" data-toggle="buttons">
			@foreach (string day in new List<string>() {"Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"})
			{
				<label class="btn btn-secondary mx-1">
					<input type="hidden" name='TrainingDaysDict[@day].Key' />
					<input type="checkbox" name='TrainingDaysDict[@day]' value="true" onclick="changeCheckboxColor(this)" class="d-none">
					@day
				</label>
			}
		</div>
		<br />

		<div>
			<input asp-for="@Model.Creator" value="@httpAcc.HttpContext.Session.GetString("Username")" hidden/>
		</div>

		<div class="row">
			@* Przechować model danych w zmiennej sesji - same id *@

			<label class="form-label mt-4">Ćwiczenia</label>

			@if (ModelsExercisesId is not null && ModelsExercisesId.Length > 0)
			{
				<p>
				@foreach (string id in ModelsExercisesId)
				{
					@id
					<br />
				}
				</p>
			}

			<a class="btn button-green mx-3" type="button" style="width: fit-content"
			   asp-area="Visitor" asp-controller="TrainingPlan" asp-action="ExerciseSelection"> + </a>
		</div>

		<div>
			<label for="notes" class="form-label mt-4">Notatka do planu</label>
			<textarea name="notes" class="form-control" type="text" asp-for="@Model.Notes"></textarea>
		</div>

		<br /><br />
		<div>
			<button type="submit" class="btn btn-outline-primary form-control">Zatwierdź</button>

		</div>
	</form>
</div>

@* jQuerry modal popup *@

@section Scripts
{

	<script>
		function changeCheckboxColor(checkbox) {
			if (checkbox.checked) {
				checkbox.parentElement.style.color = '#22CE00';
				checkbox.parentElement.style.border = '1px solid #22CE00';
			} else {
				checkbox.parentElement.style.color = '';
				checkbox.parentElement.style.border = 'none';
			}
		}
	</script>
}