

<div class="container">
	<div class="my-5 text-center">
		<h3>Wybierz ćwiczenie</h3>
	</div>
	<div class="container btn-group mb-5">
		<button class="btn button-green" onclick="loadContent('chest')" id="chest">Klatka piersiowa</button>
		<button class="btn button-green" onclick="loadContent('back')" id="back">Plecy</button>
		<button class="btn button-green" onclick="loadContent('shoulders')" id="shoulders">Barki</button>
		<button class="btn button-green" onclick="loadContent('triceps')" id="triceps">Triceps</button>
		<button class="btn button-green" onclick="loadContent('biceps')" id="biceps">Biceps</button>
		<button class="btn button-green" onclick="loadContent('forearms')" id="forearms">Przedramiona</button>
		<button class="btn button-green" onclick="loadContent('legs')" id="legs">Nogi</button>
		<button class="btn button-green" onclick="loadContent('abdominals')" id="abdominals">Brzuch</button>
		<button class="btn button-green" onclick="loadContent('calves')" id="calves">Łydki</button>
	</div>

	<div class="text-center"
		 style="min-height: 500px;
				display: flex;
				justify-content: center;"
		 id="displayContent">
		<div id="loader" style="display: none;">
			<iframe src="https://gifer.com/embed/ZKZx" width=180 height=180.000 frameBorder="0" allowFullScreen></iframe><p></p>
		</div>
	</div>

	<div>
		<a class="btn a-green button-blank-green my-5" asp-area="Visitor" asp-controller="TrainingPlan" asp-action="Create">Powrót</a>
	</div>
</div>

@section Scripts {
	<script src="~/js/loadContent.js"></script>
}