@model ExerciseViewModel

<div class="container row">
    <div class="col-3">
        <nav class="navbar-expand-lg">
            <div class="container p-2">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-column me-auto">
                        <li class="nav-item dropdown cat_choice">
                            <a class="nav-link dropdown-item" style="color: #22CE00" href="#">Klatka piersiowa</a>
                        </li>

                        <li class="nav-item dropdown cat_choice">
                            <a class="nav-link dropdown-item" style="color: #22CE00" href="#">Plecy</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #22CE00" href="#">Barki</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #22CE00" href="#">Triceps</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #22CE00" href="#">Biceps</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #22CE00" href="#">Przedramiona</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #28D770" href="#">Nogi</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #28D770" href="#">Brzuch</a>
                        </li>                                                  
                                                                               
                        <li class="nav-item dropdown cat_choice">              
                            <a class="nav-link dropdown-item" style="color: #28D770" href="#">Łydki</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-9">
        @Model.Response

    </div>
</div>